@model List<Compra>
<div class="modal fade" id="Carrinho" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h2>Seu Carrinho</h2>
            <ul id="cart-items">
                @foreach(var item in Model)
                {
                    <li>@item.Produto.Nome - R$@item.Produto.Valor</li>
                }
            </ul>
            <div class="total">
                <strong>Total: R$ 100,00</strong>
            </div>
            <button class="checkout-btn">Finalizar Compra</button>
        </div>
    </div>
</div>