@model IEnumerable<Carrinho>
<div class="containerCarrinho">
    @foreach (var item in Model)
    {
        <div class="itemCarrinho">
            <div class="imgProduto">
                <img src="~/ImagemProdutos/@item.Produto.URL_Imagem" />
            </div>
            <div class="especificacoesProduto">
                <h3 style="color:black">@item.Produto.Nome</h3>
                <p style="color:black">@item.Produto.Quantidade</p>
                <span style="color:black">Preço: @item.Produto.Valor</span>
            </div>
            <div class="acoes">
                <button class="excluirItem" data-id="@item.Produto.Id">
                    <i class="fas fa-trash-alt"></i> Excluir
                </button>
            </div>
        </div>
    }
</div>
