
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os produtos horizontalmente */
    gap: 7vh; /* Espaçamento entre os produtos */
    min-width: 100%; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o contêiner na página */
}
header{
    background-color:black;
    color:white;
}
.cards {

    justify-content: center; /* Centraliza os cards */
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    gap: 30px; /* Espaçamento entre os cards */
}
.catalogoProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.produtoCard {
    background-color: papayawhip;
    box-shadow: -1px 7px 109px 1px rgba(0,0,0,0.39);
    -webkit-box-shadow: -1px 7px 109px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: -1px 7px 109px 1px rgba(0,0,0,0.39);
}
.descProduto{
    padding: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nomeProduto {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

    .cssbuttons-io-button svg {
        margin-right: 6px;
    }

    .cssbuttons-io-button:hover {
        box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }

    .cssbuttons-io-button:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }

/* From Uiverse.io by Yaya12085 */
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

    .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .input-container span {
        display: grid;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        place-content: center;
    }

        .input-container span svg {
            color: #9CA3AF;
            width: 1rem;
            height: 1rem;
        }

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

    .signup-link a {
        text-decoration: underline;
    }


.containerCarrinho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.imgProduto img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.especificacoesProduto {
    flex: 1;
    margin-left: 20px;
}

.acoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .acoes button {
        background-color: #e74c3c;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .acoes button:hover {
            background-color: #c0392b;
        }
.card-img img{
    width: 120px;
}



/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 230px;
    height: 350px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 2vh;
    border-radius: 8px;
    cursor: pointer;
}

    .card::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -10px;
        margin: auto;
        width: 250px;
        height: 370px;
        border-radius: 10px;
        padding-top:0px;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
    }

.heading {
    display:flex;
    justify-content:center;
    align-items:center;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}

.card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}



/* From Uiverse.io by Spacious74 */
button-login {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
}

.container-button {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
}
.modal-content{
    background-color:#212121;
    color:white;
}
    .container-button::before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto;
        border-radius: 0.9em;
        z-index: -10;
        filter: blur(0);
        transition: filter 0.4s ease;
    }

    .container-button:hover::before {
        background: linear-gradient(90deg, #03a9f4, #f441a5);
        filter: blur(1.2em);
    }

    .container-button:active::before {
        filter: blur(0.2em);
    }


