@model List<Produto>
@{
    ViewData["Title"] = "Home Page";
}
<main class="catalogoProdutos">
    @if (Model == null || !Model.Any())
    {
        <p>Nenhum produto disponível.</p>
    }
    else
    {
        <p>Produtos disponíveis: @Model.Count</p>
        <div class="cards">
            <div class="produtos">
                @foreach (var item in Model)
                {
                    <div class="produtoCard">
                        <div class="imagemCard">
                            <img src="~/ImagemProdutos/@item.URL_Imagem"/>
                        </div>
                        <div class="nomeProduto">
                            <h6 class="text-title" style="font-size:20px;">@item.Nome - <span class="text-title">R$@item.Valor</span></h6>
                        </div>
                        <div class="descProduto">
                            <button class="cssbuttons-io-button" onclick="adicionarCarrinho(@item.Id)">
                                <svg height="24"
                                     width="24"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                                </svg>
                                <span>Carrinho</span>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>             
    }   
</main>
@section Scripts{
    <script>
        function adicionarCarrinho(id) {
            var produtoId = id;
            $.ajax({
                url: '/Carrinho/AdicionarAoCarrinho',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(produtoId),
                success: function (response) {
                    alert("Produto adicionado com sucesso!");
                },
                error: function (e) {
                    $('#LoginModal').modal('show');

                }
            });
        }
    </script>
}
